body{
    margin: 0px;
    background-color: black;
}
header{
    background-color: black;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: sticky;
}
.tabs a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;   
}
.tabs{
    display: flex;
    gap: 30px;
}
.header-button{
    background-color: #151515;
    color: white;
    padding: 15px 30px;
    border: 1px solid #292929;
    border-radius: 10px;
}
main{
  margin: 30px 70px;
  padding: 20px 80px;
  background-color: black;
  
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1200px;
  width: 99%;
}

.service-card {
  background: black;
  border: 1px solid white;
  padding: 30px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.service-card:hover {
  border-color: #444;
  transform: translateY(-5px);
  background: #1a1a1a;
}

.icon {
  font-size: 24px;
  margin-bottom: 15px;
  border: 1px solid white;
  border: 5px;
}

.service-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: white;
}

.service-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color:white;
  margin-bottom: 20px;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s;
}

.btn:hover {
  color: #00bfff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

.faq-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
  gap: 60px;
  flex-wrap: wrap;
}

.faq-left {
  flex: 1;
  min-width: 300px;
}

.faq-left h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.intro-text {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #ccc;
}

.contact-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 30px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.contact-btn:hover {
  background-color: #fff;
  color: #000;
}

.faq-right {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  background-color: #111;
  border: none;
  padding: 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background-color: #1a1a1a;
}

.icon {
  font-size: 1.5rem;
  transition: 0.3s;
}

.faq-answer {
  display: none;
  padding: 0 20px 20px;
  font-size: 0.95rem;
  color: #ccc;
}


